[Unit]
Description=Recruiter website
Requires=nginx-proxy.service
After=nginx-proxy.service redis.service postgres.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill recruiter
ExecStartPre=-/usr/bin/docker rm recruiter
ExecStart=/usr/bin/docker run --name recruiter -v recruiter-media:/recruiter/frontend/media -e VIRTUAL_HOST=comtracked.com,www.comtracked.com -e LETSENCRYPT_HOST=comtracked.com,www.comtracked.com -e LETSENCRYPT_EMAIL=mattcodina.work@gmail.com --link=postgres --link=redis squareballoon.com:5000/recruiter:master
ExecStop=/usr/bin/docker stop recruiter

[Install]
WantedBy=multi-user.target
