{% load staticfiles %}

<div class="connection-request-card col-md-12">
    <div class="col-md-4">
        <img src="{% if connection_request.connecter.profile.photo %}{{ connection_request.connecter.profile.photo.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" style="width:70px; border-radius:50%">
        <span class="search-info">{{ connection_request.connecter.get_account_type_display }}</span>
    </div>
    <div class="col-md-8 text-left">
        <span class="search-info">{{ connection_request.get_connection_type_display }}</span>
        <span class="search-info">{{ connection_request.connecter.get_full_name }}</span>
        <button class="btn btn-primary btn-xs btn-connection-request" data-action="accept" data-uuid="{{ connection_request.uuid }}">Accept</button>
        <button class="btn btn-primary btn-xs btn-connection-request" data-action="decline" data-uuid="{{ connection_request.uuid }}">Decline</button>
    </div>
</div>
