{% extends "account/base.html" %}

{% load i18n bootstrap account %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block inner_content %}
<div class="container login">
    <div class="row">
        <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
            <div class="form">
                <h1>{% trans "Reset password" %}</h1>
                <form method="post">
                     {% csrf_token %}
                     {{ form|bootstrap }}
                     <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js %}
<script>
    $("#id_email").focus();
</script>
{% endblock %}
